[Unit]
Description=Start Shadowsocks Client
Wants=network-online.target
After=network.target

[Service]
Type=forking
LimitNOFILE=65535
ExecStart=/config/shadowsocks/bin/shadowsocks.sh start
ExecStop=/config/shadowsocks/bin/shadowsocks.sh stop
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
